body {
  background-color: #DCDCDC;
  text-align: center;
  margin: auto auto;
  width: 50%;
  font-family: 'Arvo', sans-serif;
}

h1 {
  font-size: 300%;
}

.board {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 50%;
  background: #333333;
}

.button {
  position: absolute;
  width: 48%;
  height: 48%;
}

.green {
  background-color: #00A74A;
  top: 8px;
  left: 8px;
  border-radius: 100% 0 0 0;
}

.red {
  background-color: #9F0F17;
  top: 8px;
  right: 8px;
  border-radius: 0 100% 0 0;
}

.yellow {
  background-color: #CCA707;
  bottom: 8px;
  left: 8px;
  border-radius: 0 0 0 100%;
}

.blue {
  background-color: #094A8F;
  bottom: 8px;
  right: 8px;
  border-radius: 0 0 100% 0;
}

.middle {
  width: 50%;
  height: 50%;
  background-color: #ECE7EE;
  border-color: #333333;
  border: 5px solid #333333;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  font-family: 'Arvo', cursive;
  font-weight: bold;
}

i {
  display: block;
}

#toggle-on {
  display: none;
}

#start-button {
  border-radius: 15%;
  background-color: #32CD32;
  width: 30%;
  color: white;
  margin: 0 auto;
}

#strict {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 50%;
  margin: 0 auto;
}
